# Dependencies
node_modules/
web/node_modules/
admin/node_modules/

# Production build
dist/
web/dist/
admin/dist/

# Environment variables
.env
.env.local
web/.env
web/.env.local
admin/.env
admin/.env.local


# Supabase local cache & temp
.temp/
supabase/.temp/

# Logs & System files
*.log
.DS_Store
Thumbs.db

#Development documents
dev-docs/
docs/superpowers/
# Git Worktrees
.worktrees/
